<!DOCTYPE html>
<html lang="">

<head>
    <title>Image Search Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <meta content="no-cache, must-revalidate, post-check=0, pre-check=0" http-equiv='cache-control'>
    <meta content='0' http-equiv='expires'>
    <meta content='no-cache' http-equiv='pragma'>
    <meta content="max-age=0" http-equiv="cache-control"/>
    <meta content="no-cache" http-equiv="cache-control"/>
    <meta content="0" http-equiv="expires"/>
    <meta content="Tue, 01 Jan 1980 1:00:00 GMT" http-equiv="expires"/>
    <meta content="no-cache" http-equiv="pragma"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>

</head>

<body style="background-image: url('/images/lani.png'); background-size: cover">

<div class="navbar">
    <h1 class="text-center" style="color:white"><b>IMAGE SEARCH DEMO </b></h1>
</div>


<div id="search-main" class="container">
    <table class="table"
           style="background: white;border: 1px solid beige;box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.2), 3px 5px 15px 0 rgba(0, 0, 0, 0.19);">
        <tr style="background: lightgrey;">
            <td>
                <div style="text-align: center;"><b>Chose your file to upload (Only support .jpg .png .jpeg)</b></div>
            </td>
            <td><b></b></td>
        </tr>
        <tr>
            <td>
                <form method=post enctype=multipart/form-data style="height: 10px">
                    <div style="text-align: center;">
                        <input id="file1" type="file" name="file" required/>
                        <input type=submit value="Search!" onclick="fun()">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="">
                            <button type="button" id="clear">Clear</button>
                        </a>
                    </div>

                </form>
            </td>
        </tr>
    </table>


</div>

<div style="text-align: center;">
    <img id="load" src="/images/ajax-loader.gif" style="height:100px;weight:100px; position: absolute; visibility:hidden">
</div>

<div id="main" class="container">
    <table id="table" class="table" style="border: none ;">
        <tbody>
        <tr>
            <td class="table-td" style="text-align: center; vertical-align: middle!important;">
                <p id="show-p" style="color:white; font-size: large; display:none;">本次供检索到 <b style="color: red; ">9</b> 张相似图片</p>
            </td>
            <td class="table-td">
                <img id="img0" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
            </td>
            <td class="table-td">
                <img id="img1" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">

            </td>
            <td class="table-td">
                <img id="img2" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
            </td>
        </tr>

        <tr>
            <td class="table-td">
                <img id="imgself" class="table-td-img">
            </td>
            <td class="table-td">
                <img id="img3" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
            </td>
            <td class="table-td">
                <img id="img4" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
            </td>
            <td class="table-td">
                <img id="img5" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
            </td>
        </tr>

        <tr>
            <td class="table-td">

            </td>
            <td class="table-td">
                <img id="img6" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
            </td>
            <td class="table-td">
                <img id="img7" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
            </td>
            <td class="table-td">
                <img id="img8" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script type="text/javascript">
    $("input[type='file']").change(function () {
        const file = this.files[0];
        if (window.FileReader) {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            // 监听文件读取结束后事件
            reader.onloadend = function (e) {
                document.getElementById("imgself").src = e.target.result
                document.getElementById("imgself").style.visibility = 'visible'
            };
        }
    });

    // 下载图片
    $('.table-td-img-float').click(function () {
        const img = this.parentNode.children[0];
        console.log(this)
        console.log(img)
        const a = document.createElement('a');
        const event = new MouseEvent('click');
        a.download = '图片'
        a.href = img.src
        a.dispatchEvent(event)
    });

    function fun() {

        $("form").submit(function (evt) {
            evt.preventDefault()
            const formData = new FormData($(this)[0]);

            document.getElementById('load').style.visibility = 'visible'

            $.ajax({
                url: 'imgUpload',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,

                success: function (response) {
                    $('#load').hide()
                    $('#show-p').show()
                    $('.table-td-img-float').show()
                    for (var item of document.getElementsByClassName('table-td-img'))
                        item.style.visibility = 'visible'


                    document.getElementById("img0").src = response.image0
                    document.getElementById("img1").src = response.image1
                    document.getElementById("img2").src = response.image2
                    document.getElementById("img3").src = response.image3
                    document.getElementById("img4").src = response.image4
                    document.getElementById("img5").src = response.image5
                    document.getElementById("img6").src = response.image6
                    document.getElementById("img7").src = response.image7
                    document.getElementById("img8").src = response.image8
                    $("#clear").show()
                }
            })
            return false
        })
    }
</script>

<style>
    td.table-td {
        border: none;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 200px;
        height: 200px;
        padding: 0;
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-right-width: 1px;

    }

    img.table-td-img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: all 0.5s;
        width: 100%;
        height: 100%;
        padding: 5px;
        border-left-width: 0;
        border-bottom-width: 0;
        border-right-width: 0;
        visibility:hidden
    }

    img.table-td-img-float{
        position: absolute;
        bottom:30px;
        right:15px;
        z-index: 10;
        width: 15%;
        transition: all 0.5s;
        display: none;
    }

    img.table-td-img-float:hover{
        position: absolute;
        bottom:30px;
        right:15px;
        z-index: 10;
        width: 15%;
        transition: all 0.5s;
        transform: scale(1.5, 1.5);
    }
</style>

</body>

</html>