<!DOCTYPE html>
<html lang="">

<head>
    <title>Image Search Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <meta content="no-cache, must-revalidate, post-check=0, pre-check=0" http-equiv='cache-control'>
    <meta content='0' http-equiv='expires'>
    <meta content='no-cache' http-equiv='pragma'>
    <meta content="max-age=0" http-equiv="cache-control"/>
    <meta content="no-cache" http-equiv="cache-control"/>
    <meta content="0" http-equiv="expires"/>
    <meta content="Tue, 01 Jan 1980 1:00:00 GMT" http-equiv="expires"/>
    <meta content="no-cache" http-equiv="pragma"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>

</head>

<body style="background-color: #464547;">

<div class="navbar">
    <h1 class="text-center" style="color:white"><b>IMAGE SEARCH DEMO </b></h1>
</div>


<div id="search-main" class="container">
    <table class="table"
           style="background: #999d9c;border: 1px solid beige;box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.2), 3px 5px 15px 0 rgba(0, 0, 0, 0.19);">
        <tr style="background: #999d9c;">
            <td>
                <div style="text-align: center;"><b>Chose your file to upload (Only support .jpg .png .jpeg)</b></div>
            </td>
        </tr>
        <tr>
            <td>
                <form method=post enctype=multipart/form-data style="height: 10px">
                    <div style="text-align: center;">
                        <input id="file1" type="file" name="file" required/>
                        <input type=submit value="Search!" onclick="fun()">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="">
                            <button type="button" id="clear">Clear</button>
                        </a>
                    </div>
                </form>
            </td>
        </tr>
    </table>


</div>

<div style="text-align: center;">
    <img id="load" src="/images/ajax-loader.gif" style="height: 100px; weight: 100px; position: absolute; visibility:hidden">
</div>

<div id="main" class="container">
    <table id="table" class="table" style="border: none ;">
        <tbody>
        <tr>
            <td class="table-td" style="text-align: center; vertical-align: middle!important;">
                <p id="show-p" style="color:white; font-size: large; display:none;">本次供检索到 <b style="color: red; ">9</b> 张相似图片</p>
            </td>
            <td class="table-td">
                <img id="img0" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
                <button id="btn-cat-float-0" class="btn-category-float">all</button>

            </td>
            <td class="table-td">
                <img id="img1" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
                <button id="btn-cat-float-1" class="btn-category-float">all</button>
            </td>
            <td class="table-td">
                <img id="img2" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
                <button id="btn-cat-float-2" class="btn-category-float">all</button>
            </td>
        </tr>

        <tr>
            <td class="table-td">
                <img id="imgself" class="table-td-img">
            </td>
            <td class="table-td">
                <img id="img3" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
                <button id="btn-cat-float-3" class="btn-category-float">all</button>
            </td>
            <td class="table-td">
                <img id="img4" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
                <button id="btn-cat-float-4" class="btn-category-float">all</button>
            </td>
            <td class="table-td">
                <img id="img5" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
                <button id="btn-cat-float-5" class="btn-category-float">all</button>
            </td>
        </tr>

        <tr>
            <td class="table-td" style="text-align: center; vertical-align: middle!important;">
                <button class="btn-category">all</button>
                <button id="btn-cat-all" class="btn-category">all</button>
                <button class="btn-category">all</button><br>
                <button id="btn-cat-0" class="btn-category">all</button>
                <button id="btn-cat-1" class="btn-category">all</button>
                <button id="btn-cat-2" class="btn-category">all</button><br>
                <button id="btn-cat-3" class="btn-category">all</button>
                <button id="btn-cat-4" class="btn-category">all</button>
                <button id="btn-cat-5" class="btn-category">all</button><br>
                <button id="btn-cat-6" class="btn-category">all</button>
                <button id="btn-cat-7" class="btn-category">all</button>
                <button id="btn-cat-8" class="btn-category">all</button>
            </td>
            <td class="table-td">
                <img id="img6" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
                <button id="btn-cat-float-6" class="btn-category-float">all</button>
            </td>
            <td class="table-td">
                <img id="img7" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
                <button id="btn-cat-float-7" class="btn-category-float">all</button>
            </td>
            <td class="table-td">
                <img id="img8" class="table-td-img">
                <img class="table-td-img-float" src="/images/download.png" alt="下载图片">
                <button id="btn-cat-float-8" class="btn-category-float">all</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script type="text/javascript">
    $("input[type='file']").change(function () {
        const file = this.files[0];
        if (window.FileReader) {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            // 监听文件读取结束后事件
            reader.onloadend = function (e) {
                document.getElementById("imgself").src = e.target.result
                document.getElementById("imgself").style.visibility = 'visible'
            };
        }
    });

    $('.btn-category').click(function () {
        tag = this.innerHTML
        console.log(tag)
        for(var tagFloat of document.getElementsByClassName('btn-category-float')){
            if (tagFloat.innerHTML == tag || tag == 'all'){
                tagFloat.parentNode.style.visibility = 'visible'
                tagFloat.parentNode.childNodes[1].style.display = 'block'
                tagFloat.style.display = 'block'
                continue
            }
            tagFloat.parentNode.childNodes[1].style.display = 'none'
            tagFloat.style.display = 'none'
            tagFloat.parentNode.style.visibility = 'hidden'
        }
    })

    // 下载图片
    $('.table-td-img-float').click(function () {
        const img = this.parentNode.children[0];
        console.log(this)
        console.log(img)
        const a = document.createElement('a');
        const event = new MouseEvent('click');
        a.download = '图片'
        a.href = img.src
        a.dispatchEvent(event)
    });

    function fun() {

        $("form").submit(function (evt) {
            // 该隐藏的隐藏
            $('#show-p').hide()
            $('#btn-category').hide()
            $('.btn-category').hide()
            $('.table-td-img-float').hide()
            $('.btn-category-float').hide()
            for (var item of document.getElementsByClassName('table-td-img')){
                if (item.id == 'imgself')
                    continue
                item.style.visibility = 'hidden'
            }
            evt.preventDefault()
            const formData = new FormData($(this)[0]);

            document.getElementById('load').style.visibility = 'visible'
            
            $.ajax({
                url: 'imgUpload',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,

                success: function (response) {
                    document.getElementById('load').style.visibility = 'hidden'
                    $('#show-p').show()
                    $('.table-td-img-float').show()
                    $('.btn-category-float').show()
                    
                    console.log(response)
                    for (var idx in response.image_list){
                        document.getElementById(`img${idx}`).src = response.image_list[idx]
                        document.getElementById(`img${idx}`).style.visibility = 'visible'
                    }
                    
                    color_list = ['#224b8f', '#72baa7', '#8f4b2e', '#f8aba6', '#bed742', '#afb4db', '#867892', '#cd9a5b', '#b76f40']
                    $('#btn-cat-all').show()
                    for (var idx in response.tag_set){
                        document.getElementById(`btn-cat-${idx}`).style.backgroundColor = color_list[idx]
                        document.getElementById(`btn-cat-${idx}`).style.borderColor = color_list[idx]
                        document.getElementById(`btn-cat-${idx}`).innerHTML = response.tag_set[idx]
                        $(`#btn-cat-${idx}`).show()
                    }
                    for (var idx in response.tag_list){
                        color_idx = response.tag_set.indexOf(response.tag_list[idx])
                        document.getElementById(`btn-cat-float-${idx}`).style.backgroundColor = color_list[color_idx]
                        document.getElementById(`btn-cat-float-${idx}`).style.borderColor = color_list[color_idx]
                        document.getElementById(`btn-cat-float-${idx}`).innerHTML = response.tag_list[idx]
                    }
                }
            })
            return false
        })
    }
</script>

<style>
    td.table-td {
        border: none;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 200px;
        height: 200px;
        padding: 0;
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-right-width: 1px;
    }

    img.table-td-img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: all 0.5s;
        width: 100%;
        height: 100%;
        padding: 5px;
        border-left-width: 0;
        border-bottom-width: 0;
        border-right-width: 0;
        visibility:hidden
    }

    img.table-td-img-float{
        position: absolute;
        bottom:15px;
        right:15px;
        z-index: 10;
        width: 10%;
        transition: all 0.1s;
        display: none;
    }

    img.table-td-img-float:hover{
        transition: all 0.1s;
        transform: scale(1.2, 1.2);
    }

    img.table-td-img-float:active{
        transition: all 0.1s;
        transform: scale(1, 1);
    }

    button.btn-category-float{
        position: absolute;
        border: none;
        top:15px;
        left: 15px;
        z-index: 10;
        width: 30% ;
        color: white;
        display: none;
    }

    button.btn-category{
        margin: 5px auto;
        width: 30%;
        height: 20%;
        display: none;
        color: white;
        background-color: black;
        transition: all 0.2s;
    }

    button.btn-category:hover{
        transition: all 0.1s;
        transform: scale(1.1, 1.1);
    }

    button.btn-category:active{
        transition: all 0.1s;
        transform: scale(1, 1);
    }


</style>

</body>

</html>